.title-prod {
    margin-top: 60px;
}

.card-prod {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 50px;
    width: 400px;
}

.card-prod img {
    width: 400px;
}

.card-prod h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;

}
.wrapper-prod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    scroll-y: auto;
}


@media only screen and (max-width: 450px) {
    .card-prod {
        width: 90%;
        margin: 5px auto;
    }

    .card-prod img {
        width: 90%;
    }



}