.ab {
    position: relative;
}

.c-about{
    margin-top: 50px;
    position: relative;
}

.text-about {
    background-color: #FF0072;
    width: 55%;
    padding: 8% 11% 8% 5%;
    color: white;
    position: absolute;
}

.img-about {
    margin-left: 50%; 
    padding-top: 60px;
    width: 50%;
}

.img-about img {
    width: 100%;
    position: absolute;
}

.c-bottom {
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Medias Queries */
@media only screen and (max-width: 1200px) {
    
}


@media only screen and (max-width: 768px) {

    .c-about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-about {
        width: 90%;
        padding: 5%;
        position: relative;
        border-radius: 20px;
}

    .img-about {
        margin-left: 0%;
        padding-top: 25px;
        width: 90%;
    }


    .img-about img {
        position: relative;
        border-radius: 20px;
}

    .c-bottom {
        margin-top: 70px;
    }

    
}

@media only screen and (max-width: 600px) {

    .text-about {
        width: 100%;

    }

    .img-about {
        width: 100%;
    }

    .ab {
        overflow: hidden;
    }

   

  
    
}