.ab {
    position: relative;
}

.c-about{
    margin-top: 100px;
    position: relative;
}

.text-about {
    background-color: #FF0072;
    width: 70%;
    padding: 7% 26% 7% 5%;
    color: white;
    position: absolute;
    font-size: 18px;
    border-radius: 40px 40px 0 0;
}

.img-about {
    margin-left: 50%; 
    padding-top: 120px;
    width: 50%;
}

.img-about img {
    border-radius: 20px;
    width: 100%;
    position: absolute;
}

.c-bottom {
    margin-top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.globosicono {
    width: 60px;
    margin-left: 15px;
    margin-bottom: 30px;
}


/* Medias Queries */
@media only screen and (max-width: 1200px) {
    
}


@media only screen and (max-width: 768px) {

    .c-about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-about {
        width: 90%;
        padding: 5%;
        position: relative;
        border-radius: 20px;
}

    .img-about {
        margin-left: 0%;
        padding-top: 25px;
        width: 90%;
    }


    .img-about img {
        position: relative;
        border-radius: 20px;
}

    .c-bottom {
        margin-top: 70px;
    }

    
}

@media only screen and (max-width: 600px) {

    .text-about {
        width: 100%;

    }

    .img-about {
        width: 100%;
    }

    .ab {
        overflow: hidden;
    }

    .c-bottom p {
        width: 90%;
    }

   

  
    
}