.contenedor {
    position: relative;
    margin-top: 250px;
}
.fondof {
    width: 100%;
    position: absolute;
    margin: -1px;
    bottom: 0;
     
}

.wrapper {
    position: absolute;
    object-fit: cover;
    display: flex;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.dirf {
    font-size: 17px;
    flex: 1;
  
}

.dirf ul, .redf ul {
    list-style:none;
}

.redf {
    font-size: 17px;
    flex: 1;
    right: 0;
    text-align: right;
    
}


.iconf {
    width: 20px;
}

.f-link {
    color: #fff;
    text-decoration: none;
}

.f-link:hover {
    color: rgb(107, 35, 71);
}

.portfolio {
    width: 40%;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}

.link-portfolio  {
    color: #fff;
    text-align: center;
    text-decoration: none; 
}

.link-portfolio:hover {
    color: rgb(107, 35, 71);
}



/* Medias Queries */
@media only screen and (max-width: 1200px) {
    
}


@media only screen and (max-width: 768px) {

    .contenedor {
        margin-top: 100px;
    }

  
}

@media only screen and (max-width: 600px) {
    
}
