.contenedor {
    margin-top: 150px;
}

.footer {
    background-color: #FF0072;
    
}


.wrapper {
    padding-top: 50px;;
    display: flex;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.dirf {
    font-size: 17px;
    flex: 1;
  
}

.dirf ul, .redf ul {
    list-style:none;
}

.redf {
    font-size: 17px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.redf ul {
    width: 300px;
}




.iconf {
    width: 20px;
    padding-bottom: 20px;
    margin-right: 5px;
}


.f-link {
    color: #fff;
    text-decoration: none;
    display: flex;
}

.f-link:hover {
    color: rgb(107, 35, 71);
}

.portfolio {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}

.link-portfolio  {
    color: #fff;
    text-align: center;
    text-decoration: none; 
}

.link-portfolio:hover {
    color: rgb(107, 35, 71);
}



/* Medias Queries */
@media only screen and (max-width: 1200px) {
    
}


@media only screen and (max-width: 768px) {

    .contenedor {
        margin-top: 100px;
    }

  
}

@media only screen and (max-width: 600px) {

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dirf {
        text-align: left;
        width: 100%;
    }

    .redf {
        width: 100%;  
    }
    
    .redf ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .text-icon {
        display: none;
    }

    .iconf {
        width: 50px;
        margin-top: 20px;
    }

    
}
