.contenedor {
    position: relative;
}
.fondof {
    width: 100%;
    position: absolute;
    margin: -1px;
     
}

.wrapper {
    margin: 100px;
    position: absolute;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

