.button {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 0.7em 2em;
    margin: 0 2px;
    /*border: 1px solid #FF0072;*/
    border-radius: 2px;
    position: relative;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);*/
    color: #FF0072;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    font-weight: bold;
}
   
.button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -1;
}
   
.button:hover, .button:focus {
    color: white;
}
   
.button:hover:before, .button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
   
.button:active {
    transform: scale(0.9);
}

nav {
    display: flex;
    justify-content: space-between;
}


.logo {
    width: 350px;
    margin-top: 10px;
}

.banderin {
    margin-top: 10px;
    width: 300px;
    height: 80px;
    animation: banderin 1s infinite;
    -webkit-animation: banderin 10s infinite;
}

@keyframes banderin {
    0% {
        transform: translatex(0);
}
    50% {
        transform: translatex(5%); 
}
    100% {
        transform: translatex(0);
}

}



/* Medias Queries */
@media only screen and (max-width: 1200px) {
    
}


@media only screen and (max-width: 768px) {

    .banderin {
        display: none;
    }

    

    
    
}

@media only screen and (max-width: 600px) {
    
    .logo {
        width: 250px;
    }
}
    






